:root{
  --orange: #FE5E09;
  --white: #FEFCF5;
  --purple: #AE81CE;
  --blue: rgb(61,84,200);
  
  --fs-heading: clamp(5px, 3vw + 1rem, 7rem) 
}
html{
  overflow-x: hidden;
}
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--white);
  padding: 0px;
  margin: 0px;
}

.parallax {
  position: relative;
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.divider{
  width: 100vw;
  left: 0;
  position: absolute;
  border-top: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .parallax {
    min-height: 75vh;
  }
}

/* Landing */
#landing .brand{
  padding: 1vw;
  font-family: 'Montserrat';
  font-size: 2vw;
  z-index: 999;
  border-right: 2px solid;
  border-bottom: 2px solid;
  position: fixed;
  background-color: var(--white);
  width: 100vw;
  top: 0;
  left: 0;
}
#landing h2{
  padding-top: 20vh;
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: var(--fs-heading);
  z-index: 2;
  position: relative;
  text-align: center;
}

#landing .left-orange{
  background-color: var(--orange);
  position: absolute;
  height: 75vh;
  z-index: 1;
  width: 50vw;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;    
}
@media only screen and (max-width: 600px) {
  #landing .left-orange{
    background-color: var(--orange);
    position: absolute;
    height: 25vw;
    z-index: 0;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;    
  }
  #landing h2{
    font-weight: 300;
    font-size: 20px;
    padding-top: calc(25vw/3);
  }
}

/* Landing END */

/* Who are we */
#who-are-we{
  position: relative;
  padding: 5vw;
}
#who-are-we h3, 
#who-are-we h4{
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 1.5vw;
}
#who-are-we .text{
  display: inline-block;
}
#who-are-we .question{
  width: 50%;
  float: left;
}
#who-are-we .answer{
  width: 50%;
  float: right;
}
@media only screen and (max-width: 600px) {
  #who-are-we{
    padding: 10px 20px;
  }
  #who-are-we .question, #who-are-we .answer{
    width: 100%;
    float:none;
  }
  #who-are-we h4{
    font-size: 13px;
  }
  #who-are-we h3{
    font-weight: 200;
    font-size: 19px;
  }
}
/* Who are we END */

/* Work */
#work{
  position: relative;
  padding: 0 5vw 0 5vw;
}
#work .title{
  width: 100%;
  display: inline-block;
}
#work h3, 
#work h1{
  font-family: 'Montserrat';
  font-weight: 200;
  font-size: 1.5vw;
  display: inline-block;
}
#work .left{
  width: 50%;
  float: left;
}
#work .right{
  width: 50%;
  float: right;
}
@media only screen and (max-width: 600px) {
  #work .left, #work .right{
    width: 100%;
    float:none;
  }

  #work h1{
    font-size: 25px;
    font-weight: 300;
  }
  #work h3{
    font-size: 13px;
  }
  #work .hide{
    display: none;
  }
}
/* Work END */

/* Projects */
.project .project-parallax {
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: left;
  min-width: 50%;
}
.project .project-image, img{
  position: relative;
  object-fit: cover;
  height: 100vh;
  max-width: 100%;
  object-position: center;
  background-repeat: no-repeat;
}

.project .title-one{
  position: relative;
  padding-right: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3vw;
  float: right;
  bottom: 0;
  right: 0;
}

.project .title-two{
  position: absolute;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 3vw;
  float: left;
  color: var(--white);
  word-spacing: 100vw;
  padding-left:20px ;
  z-index: 999;
}

  .jacques {
  background-color: var(--purple);
}

.jacques .title-one{
padding-right: 2vw;
font-size: 3vw;
}





@media only screen and (max-width: 600px) {

  .project .project-parallax{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .project .title-one, .project .title-two{
    padding: 2vh 5vw;
    width: 100%;
    float: none;
    position: relative;
    font-size: 20px;
    margin: 0;
    word-spacing: normal;
  }
  
  .title-one{
    background-color: var(--orange);
  }
  .title-two{
    background-color: var(--blue);
  }
  .jacques .title-one{
    background-color: var(--purple);
  }
}

/* Projects END */

/* Get In touch */
.getintouch{
  text-align: center;
  background-color: var(--orange);
  padding: 50px;
  
}

.getintouch .heading{
  font-size: var(--fs-heading);
  color: var(--white);
}

.getintouch h3{
  font-size: 4vh;
  color: var(--white);
}
a{
  text-decoration: underline;
}
/* Get In touch END */

/* ScrollBar */
::-webkit-scrollbar {
  background-color: peachpuff;
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
::-webkit-scrollbar-thumb:hover {
  background-color: coral;
}
::-webkit-scrollbar-thumb:active {
  background-color: orangered;
}
/* ScrollBar END */